html {
    scroll-behavior: smooth; 
}

body{
    background-color: rgba(179, 180, 178, 0.432);
    font-family: "Josefin Sans", sans-serif;
    
}

.header{
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 20px;
}

.header-text{
    font-size: 20px;
    color: #b56576;
}

.img-mashtab {
    max-width: 100%; 
    height: auto; 
}

.line{
    margin: 0;
    color: #000000c5;
    background-color: rgb(0, 0, 0);
    
}

.line-nav{
    margin: 0;
    color: #000000c5;
    background-color: rgb(0, 0, 0);
}

.line_new hr {
    border: none;          
    border-top: 4px solid #000; 
    width: 100%;           
}

.nav-links {
    display: flex;         
    justify-content: space-between;
    margin: 10px 0;      
    flex-wrap: wrap;
}

.nav{
    background-color: rgba(255, 255, 255, 0.432);
    position: sticky;
    top: 0;                
    left: 0;               
    right: 0; 
    z-index: 1000;
    display: flexbox;
    align-items:center;
    list-style-type: none;
    justify-content: space-between;
    max-width: 100%;
}

.nav-link{
    text-decoration: none;
    font-size: 24px;
    color: #446381;
    transition: .2s ease color;
    
}

.nav-link:hover{
    color: #b56576;
}

.main{
    display: flex;
    gap: 40px;
    margin: 0;
}

.main-info{
    color: #163e66;
}

.main-nav{
    padding-right: 80px;
    
}

.main-nav-text{
    font-size: 14px;
}

.main-nav-link{
    text-decoration: none;
    font-size: 20px;
    color: #446381;
    transition: .2s ease color;
    display: flex;
    padding-top:10px;
}

.main-nav-link:hover{
    color: #b56576;
}

.container{
    display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 1200px; 
        padding: 20px;
}

.section {
    padding: 20px;
    margin: 20px 0; 
    border: 1px solid #ccc; 
    border-radius: 8px; 
    background-color: #f9f9f9; 
    display: flex;
    flex-direction: column;
    align-items: stretch; 
}

table{
    width: 100%; 
    border-collapse: collapse; 
    overflow-x: auto; 

}

th, td{
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #2881db;
  }
  
table tr:not(:first-child):nth-child(even) td {
    background-color: #f2f2f2;
  }
  
table tr:not(:first-child):nth-child(odd) td {
    background-color: #b3d9ff;
  }

  nput[type="checkbox"] {
    width: 20px;
    height: 20px; 
}

.leck, .prak, .adres, .pdf {
    padding: 20px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 8px; 
    background-color: #f9f9f9; 
}

.fix-button {  
    border: 1px solid grey;
    width: 150px;
    min-width: 150px;
    max-width: 250px;
    text-align: center;
    border-radius: 50px;
    background-color: hsl(9,92%,63%);
    padding: 15px 0;
    color: #fff;
    z-index: 100;
    left: 90%;
    top: 90%;
    animation: button 3s infinite;
    position:fixed;
    transform: translate(-50%, -50%);
  }

.fix-button-btn{
    text-decoration: none;
    color: #fff;
}

@keyframes button {
    50% {background-color: hsl(0, 0%, 0%); color: #000 }
}

.footer{
    margin: 0;
    display: flex;
    align-self: center;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}

.footer-text{
    display: flex;
    text-align: center;
    align-items:center;
    justify-content: center;
    flex: 1;
}

.footer-txt{
    color:#1a4f85;
}

@media (max-width: 768px) {
    .section {
        margin: 10px; 
        padding: 15px;
    }

    table {
        font-size: 14px;
    }

    th, td {
        padding: 8px;
    }

    .main-nav{
        padding-right: 14px;
    }
    
    iframe {
        width: 100%; 
        height: auto; 
    }

    .fix-button {
        width: 20vw;
        min-width: 120px; 
    }

    .line-nav{
        display: none;
    }

    .main-nav{
        display: none;
    }
}

@media (max-width: 480px) {
    header{
        gap: 30px;
    }

    .header-text{
        font-size: 16px;
    }
    
    .section {
        margin: 10px; 
        padding: 15px;
    }
    
    .main-info {
        font-size: 18px; 
    }

    .main-nav{
        padding-right: 1px;
    }

    .nav{
        height: 50%;
    }

    .nav-link{
        font-size: 14px;
    }

    .fix-button {
        width: 20vw;
        min-width: 100px;
        font-size: 14px; 
        padding: 10px 0; 
    }

    .main-nav-text{
        font-size: 14px;
    }

    .main-nav-link{
        font-size: 14px;
    }

    table {
        font-size: 5px; 
    }

    .main{
        gap: 10px;
    }

    .footer-txt{
        font-size: 12px;
    }

    .footer-img{
        width: 200px;
    }

    .nav-links{
        margin: 0;
    }

    .line-nav{
        display: none;
    }

    .main-nav{
        display: none;
    }
}
