.logotip{
    width: 1450px;
    height: 80px;
    margin: 0px;
    font-family: 'Arial';
    font-weight: 500;
    border-bottom: 2px solid #000000;
    background: white;
    padding: 10px;
}
.logotip img {
    width: 50px;
    height: auto;
    display: block;
  }
.logotip div{
    position: relative;
    left: 1200px;
    top: -80px;
}
.logotip p{
    text-align: 25px;
}
.glavnaya{
    width: 1450px;
    border-bottom: 2px solid #000000;
    background: white;
    padding: 10px;
    gap: 10px;
}

a:link{
    padding: 10px 20px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: inline-block;
    background: #d0d0d0;
    color: #000000;
    text-decoration: none;
}

a:visited{
    color:#484848;
}

a:hover{
    background: #ffffff;
}

.navigation{
    width: 200px;
    height: 1300px;
    margin: 0px;
    border-right: 2px solid #000000;
    background: white;
    padding: 10px;
}

table{
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    
}

table tr:ntn-child(2n){
    background-color:#5c0d0d;
}

th, td{
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table td, table th {
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  /* Чередование фона в строках */
table td:nth-child(even) {
    background-color: #f2f2f2;
  }
  
table td:nth-child(odd) {
    background-color: #b3d9ff;
  }

.footer{
    width: 1450px;
    height: 60px;
    margin: 0px;
    font-family: 'Arial';
    font-weight: 500;
    border-top: 2px solid #000000;
    background: white;
    padding: 10px;
}
.footer img{
    position: absolute;
    left:1300px;
    width: 80px;
    top:1550px;
}
.footer a{
    background: none;
    border: none;
}

.footer p{
    text-align: center;
}